## To predict the insurance charge based on customers age, bmi, children, sex and smoking habit.

### Grid Search - For Automatic selection of Best Model by trying with different playable parameters in Decision Tree Algorithm.

In [1]:
#Library files load
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

In [2]:
#Dataset load
data=pd.read_csv("insurance.csv")

In [3]:
data.shape

(1338, 6)

In [4]:
data.head()

   age     sex     bmi  children smoker      charges
0   19  female  27.900         0    yes  16884.92400
1   18    male  33.770         1     no   1725.55230
2   28    male  33.000         3     no   4449.46200
3   33    male  22.705         0     no  21984.47061
4   32    male  28.880         0     no   3866.85520

In [5]:
data=pd.get_dummies(data,drop_first=True)

In [6]:
data.head()

   age     bmi  children      charges  sex_male  smoker_yes
0   19  27.900         0  16884.92400         0           1
1   18  33.770         1   1725.55230         1           0
2   28  33.000         3   4449.46200         1           0
3   33  22.705         0  21984.47061         1           0
4   32  28.880         0   3866.85520         1           0

In [7]:
x=data[["age","bmi","children","sex_male","smoker_yes"]]
y=data[["charges"]]

In [8]:
import warnings
warnings.filterwarnings('ignore')

In [9]:
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test= train_test_split(x,y,test_size=1/3,random_state=0)

In [10]:
x_train.head()

     age    bmi  children  sex_male  smoker_yes
482   18  31.35         0         0           0
338   50  32.30         1         1           1
356   46  43.89         3         1           0
869   25  24.30         3         0           0
182   22  19.95         3         1           0

In [11]:
from sklearn.preprocessing import StandardScaler
sc=StandardScaler()
x_train=sc.fit_transform(x_train)
x_test=sc.fit_transform(x_test)

In [12]:
from sklearn.model_selection import GridSearchCV

from sklearn.tree import DecisionTreeRegressor

param_grid={'criterion':['mae','mse','friedman_mse'],
            'max_features':['sqrt','auto','log2'],
            'splitter':['best','random']}


grid = GridSearchCV(DecisionTreeRegressor(), param_grid, refit=True, verbose=3,n_jobs=-1)

#fitting the modelfor search
#grid.fit(x_train, y_train.values.ravel())
grid.fit(x_train, y_train)

Fitting 5 folds for each of 18 candidates, totalling 90 fits

GridSearchCV(estimator=DecisionTreeRegressor(), n_jobs=-1,
             param_grid={'criterion': ['mae', 'mse', 'friedman_mse'],
                         'max_features': ['sqrt', 'auto', 'log2'],
                         'splitter': ['best', 'random']},
             verbose=3)

In [19]:
#print best parameter after tuning
re=grid.cv_results_
#print(re)
grid_predictions=grid.predict(x_test)

#print classification report
from sklearn.metrics import r2_score
r_score=r2_score(y_test,grid_predictions)

print("The R_Score value for best parameter {}:".format(grid.best_params_),r_score)

The R_Score value for best parameter {'criterion': 'mae', 'max_features': 'log2', 'splitter': 'random'}: 0.689638302656793

In [14]:
table=pd.DataFrame.from_dict(re)

In [15]:
table.head()

,mean_fit_time,std_fit_time,mean_score_time,std_score_time,param_criterion,param_max_features,param_splitter,params,split0_test_score,split1_test_score,split2_test_score,split3_test_score,split4_test_score,mean_test_score,std_test_score,rank_test_score
0,0.030580,0.005675,0.005197,0.002038,mae,sqrt,best,"{'criterion': 'mae', 'max_features': 'sqrt', '...",0.646925,0.642852,0.703718,0.594361,0.562164,0.630004,0.048493,9
1,0.030780,0.006849,0.004198,0.000747,mae,sqrt,random,"{'criterion': 'mae', 'max_features': 'sqrt', '...",0.388605,0.692837,0.657753,0.513799,0.575679,0.565734,0.108438,17
2,0.046569,0.004626,0.004598,0.001854,mae,auto,best,"{'criterion': 'mae', 'max_features': 'auto', '...",0.663869,0.567893,0.694320,0.602058,0.624985,0.630625,0.044599,8
3,0.036577,0.004126,0.003999,0.001998,mae,auto,random,"{'criterion': 'mae', 'max_features': 'auto', '...",0.656683,0.601447,0.743326,0.560419,0.631963,0.638767,0.061369,5
4,0.036776,0.010201,0.003399,0.000490,mae,log2,best,"{'criterion': 'mae', 'max_features': 'log2', '...",0.669226,0.547485,0.735687,0.648905,0.656002,0.651461,0.060412,3