## To predict the insurance charge based on customers age, bmi, children, sex and smoking habit.

## Decision Tree

In [1]:
#Library files Load
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

In [2]:
#Dataset Load
data = pd.read_csv('insurance.csv')

In [3]:
data.shape

(1338, 6)

In [4]:
data.head() #five is default head size

   age     sex     bmi  children smoker      charges
0   19  female  27.900         0    yes  16884.92400
1   18    male  33.770         1     no   1725.55230
2   28    male  33.000         3     no   4449.46200
3   33    male  22.705         0     no  21984.47061
4   32    male  28.880         0     no   3866.85520

In [5]:
data = pd.get_dummies(data,drop_first=True)

In [6]:
data

      age     bmi  children      charges  sex_male  smoker_yes
0      19  27.900         0  16884.92400         0           1
1      18  33.770         1   1725.55230         1           0
2      28  33.000         3   4449.46200         1           0
3      33  22.705         0  21984.47061         1           0
4      32  28.880         0   3866.85520         1           0
...   ...     ...       ...          ...       ...         ...
1333   50  30.970         3  10600.54830         1           0
1334   18  31.920         0   2205.98080         0           0
1335   18  36.850         0   1629.83350         0           0
1336   21  25.800         0   2007.94500         0           0
1337   61  29.070         0  29141.36030         0           1

[1338 rows x 6 columns]

In [7]:
x=data[["age","bmi","children","sex_male","smoker_yes"]]
y=data[["charges"]]

In [8]:
import warnings
warnings.filterwarnings('ignore')

In [9]:
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test= train_test_split(x,y,test_size=1/3,random_state=0)

In [10]:
x_train.head()

     age    bmi  children  sex_male  smoker_yes
482   18  31.35         0         0           0
338   50  32.30         1         1           1
356   46  43.89         3         1           0
869   25  24.30         3         0           0
182   22  19.95         3         1           0

In [11]:
from sklearn.preprocessing import StandardScaler
sc = StandardScaler()
x_train=sc.fit_transform(x_train)
x_test=sc.transform(x_test)

In [12]:
x_train

array([[-1.53963418,  0.11036616, -0.90788827, -0.98885138, -0.49929923],
       [ 0.74809711,  0.26412451, -0.0755796 ,  1.01127431,  2.00280702],
       [ 0.4621307 ,  2.13997636,  1.58903774,  1.01127431, -0.49929923],
       ...,
       [ 0.03318108, -0.90443894, -0.90788827,  1.01127431, -0.49929923],
       [-1.46814257,  0.7869029 , -0.90788827,  1.01127431, -0.49929923],
       [-0.46726014, -1.96941782, -0.0755796 , -0.98885138, -0.49929923]])

In [13]:
from sklearn.tree import DecisionTreeRegressor
regressor = DecisionTreeRegressor(criterion ='mae',max_features="sqrt",random_state=0)
regressor.fit(x_train,y_train.values.ravel())

DecisionTreeRegressor(criterion='mae', max_features='sqrt', random_state=0)

In [14]:
y_pred=regressor.predict(x_test)

In [15]:
from sklearn.metrics import r2_score
r_score=r2_score(y_test,y_pred)

In [16]:
r_score

0.7164995615657272

In [17]:
data.head()

   age     bmi  children      charges  sex_male  smoker_yes
0   19  27.900         0  16884.92400         0           1
1   18  33.770         1   1725.55230         1           0
2   28  33.000         3   4449.46200         1           0
3   33  22.705         0  21984.47061         1           0
4   32  28.880         0   3866.85520         1           0

In [18]:
age=int(input("Enter the age: "))
bmi=float(input("Enter the bmi: "))
children=int(input("Enter the children: "))
sex_male=int(input("Enter the sex (1=male, 0=female): "))
smoker_yes=int(input("Enter smoker (1=yes, 0=no): "))

Enter the age: 25
Enter the bmi: 28
Enter the children: 1
Enter the sex (1=male, 0=female): 1
Enter smoker (1=yes, 0=no): 1

In [19]:
future_prediction=regressor.predict([[age,bmi,children,sex_male,smoker_yes]])
print("Future Prediction={}".format(future_prediction))

Future Prediction=[47269.854]

### To Save and Open finalized best model

In [20]:
import pickle
filename='Best_Model.sav'
pickle.dump(regressor,open(filename,'wb'))

In [21]:
import pickle
loaded_model=pickle.load(open('Best_Model.sav','rb'))
result=loaded_model.predict([[25,28,1,1,1]])
print(result)

[47269.854]