## To predict the insurance charge based on customers age, bmi, children, sex and smoking habit.

### Grid Search - For Automatic selection of Best Model by trying with different playable parameters in Random Forest Algorithm.

In [1]:
#Library files Load
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

In [2]:
#Dataset Load
data=pd.read_csv("insurance.csv")

In [3]:
data.shape

(1338, 6)

In [4]:
data.head()

   age     sex     bmi  children smoker      charges
0   19  female  27.900         0    yes  16884.92400
1   18    male  33.770         1     no   1725.55230
2   28    male  33.000         3     no   4449.46200
3   33    male  22.705         0     no  21984.47061
4   32    male  28.880         0     no   3866.85520

In [5]:
data=pd.get_dummies(data,drop_first=True)

In [6]:
data.head()

   age     bmi  children      charges  sex_male  smoker_yes
0   19  27.900         0  16884.92400         0           1
1   18  33.770         1   1725.55230         1           0
2   28  33.000         3   4449.46200         1           0
3   33  22.705         0  21984.47061         1           0
4   32  28.880         0   3866.85520         1           0

In [7]:
x=data[["age","bmi","children","sex_male","smoker_yes"]]
y=data[["charges"]]

In [8]:
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test= train_test_split(x,y,test_size=1/3,random_state=0)

In [9]:
import warnings
warnings.filterwarnings('ignore')

In [10]:
x_train.head()

     age    bmi  children  sex_male  smoker_yes
482   18  31.35         0         0           0
338   50  32.30         1         1           1
356   46  43.89         3         1           0
869   25  24.30         3         0           0
182   22  19.95         3         1           0

In [11]:
from sklearn.preprocessing import StandardScaler
sc=StandardScaler()
x_train=sc.fit_transform(x_train)
x_test=sc.fit_transform(x_test)

In [12]:
from sklearn.model_selection import GridSearchCV

from sklearn.ensemble import RandomForestRegressor
param_grid={'criterion':['mae','mse'],
            'max_features':['sqrt','auto','log2'],
            'n_estimators':[10,100]}


grid = GridSearchCV(RandomForestRegressor(), param_grid, refit=True, verbose=3,n_jobs=-1)

#fitting the modelfor search
grid.fit(x_train, y_train.values.ravel())

Fitting 5 folds for each of 12 candidates, totalling 60 fits

GridSearchCV(estimator=RandomForestRegressor(), n_jobs=-1,
             param_grid={'criterion': ['mae', 'mse'],
                         'max_features': ['sqrt', 'auto', 'log2'],
                         'n_estimators': [10, 100]},
             verbose=3)

In [13]:
#print best parameter after tuning

re=grid.cv_results_
#print(re)
grid_predictions=grid.predict(x_test)

#print classification report
from sklearn.metrics import r2_score
r_score=r2_score(y_test,grid_predictions)

print("The R_Score value for best parameter {}:".format(grid.best_params_),r_score)

The R_Score value for best parameter {'criterion': 'mae', 'max_features': 'sqrt', 'n_estimators': 100}: 0.8728309385835499

In [14]:
table=pd.DataFrame.from_dict(re)

In [15]:
table.head()

,mean_fit_time,std_fit_time,mean_score_time,std_score_time,param_criterion,param_max_features,param_n_estimators,params,split0_test_score,split1_test_score,split2_test_score,split3_test_score,split4_test_score,mean_test_score,std_test_score,rank_test_score
0,0.140512,0.012994,0.004798,0.001469,mae,sqrt,10,"{'criterion': 'mae', 'max_features': 'sqrt', '...",0.777093,0.772847,0.820832,0.814468,0.749015,0.786851,0.026982,8
1,1.250028,0.075773,0.024185,0.000400,mae,sqrt,100,"{'criterion': 'mae', 'max_features': 'sqrt', '...",0.806319,0.777696,0.843345,0.829036,0.765080,0.804295,0.029619,1
2,0.200676,0.008835,0.003198,0.000400,mae,auto,10,"{'criterion': 'mae', 'max_features': 'auto', '...",0.766108,0.746779,0.789610,0.815156,0.733512,0.770233,0.029357,12
3,2.200643,0.148042,0.022786,0.000748,mae,auto,100,"{'criterion': 'mae', 'max_features': 'auto', '...",0.785753,0.767991,0.818301,0.806255,0.758581,0.787376,0.022452,7
4,0.122923,0.008825,0.003399,0.000490,mae,log2,10,"{'criterion': 'mae', 'max_features': 'log2', '...",0.796621,0.726431,0.830401,0.815917,0.752416,0.784357,0.039095,10