## To predict the insurance charge based on customers age, bmi, children, sex and smoking habit.

### Problem statement has more than one input features so the Simple Linear Regression is called as Multiple Linear Regression here.

In [1]:
#Library files load
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

In [2]:
#Dataset Load
data=pd.read_csv("insurance.csv")                 # Dataset Load

In [3]:
data.head()

   age     sex     bmi  children smoker      charges
0   19  female  27.900         0    yes  16884.92400
1   18    male  33.770         1     no   1725.55230
2   28    male  33.000         3     no   4449.46200
3   33    male  22.705         0     no  21984.47061
4   32    male  28.880         0     no   3866.85520

In [4]:
data=pd.get_dummies(data,drop_first=True)

In [5]:
data.head()

   age     bmi  children      charges  sex_male  smoker_yes
0   19  27.900         0  16884.92400         0           1
1   18  33.770         1   1725.55230         1           0
2   28  33.000         3   4449.46200         1           0
3   33  22.705         0  21984.47061         1           0
4   32  28.880         0   3866.85520         1           0

In [6]:
x=data[["age","bmi","children","sex_male","smoker_yes"]]   # Variable name x is independent for input features    
y=data[["charges"]]                                        # Variable name y is dependent for output feature

In [7]:
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test= train_test_split(x,y,test_size=.30,random_state=0)

In [8]:
x_train.head()

      age     bmi  children  sex_male  smoker_yes
1163   18  28.215         0         0           0
196    39  32.800         0         0           0
438    52  46.750         5         0           0
183    44  26.410         0         0           0
1298   33  27.455         2         1           0

In [9]:
from sklearn.linear_model import LinearRegression
regressor=LinearRegression()
regressor.fit(x_train,y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [10]:
#viewing the W and b value
weight=regressor.coef_
print("The weight of the model={}".format(weight))
bias=regressor.intercept_
print("The bias of the model={}".format(bias))

The weight of the model=[[  257.8006705    321.06004271   469.58113407   -41.74825718
  23418.6671912 ]]
The bias of the model=[-12057.244846]

In [11]:
y_pred=regressor.predict(x_test)

In [12]:
from sklearn.metrics import r2_score
r_score=r2_score(y_test,y_pred)

In [13]:
r_score

0.7894790349867009

In [16]:
age=int(input("Enter the age: "))
bmi=int(input("Enter the bmi: "))
children=int(input("Enter the children: "))
sex_male=int(input("Enter the sex (1=male, 0=female): "))
smoker_yes=int(input("Enter smoker (1=yes, 0=no): "))

Enter the age: 30
Enter the bmi: 24
Enter the children: 1
Enter the sex (1=male, 0=female): 0
Enter smoker (1=yes, 0=no): 1

In [17]:
future_prediction=regressor.predict([[age,bmi,children,sex_male,smoker_yes]])
print("Future Prediction={}".format(future_prediction))

Future Prediction=[[27270.46461912]]